.container-all
{
    width: 100%;
    margin: auto;
    clear: both;
    font-family: "Muli",sans-serif;
    position: relative;
}

*{
    text-decoration: none;
}
/* css header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul > li > a
{
    text-decoration: none;
}

/* header */
header {
    width: 100%;
}

.menu-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

a{
    color: var(--black-color) !important;
}

.top-menu {
    position: fixed;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    width: 100%;
    z-index: 1200;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.wrap-site-logo {
    padding: 0 20px 0 0;
}

.wrap-top-menu {
    display: flex;
    width: 100%;
}

.site-menu {
    display: flex;
    flex: 1;
}

.logo-img {
    width: 120px;
    height: 45px;
    align-items: center;
}

.list-item-link {
    font-weight: 500;
    padding: 25px 0px;
    margin: 0px 16px;
}
.color-img
{
    background-color: transparent !important;
}
.click-color{
    border-radius: 5px;
}
.list-item-link:hover {
    text-decoration: none;
    color: #2C31CF !important;
    border-bottom: 2px solid #2C31CF;
    transition: 0.1s;
}

.wrap-flag-logo {
    position: relative;
    cursor: pointer;
}

.flag-logo {
    width: 25px;
}

.site-user-menu {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    margin: 0;
}

.site-menu-bell{
    position: relative;
    padding: 8px;
}

.bell-icon:hover {
    color: #2C31CF;
    transition: .2s;
}

.bell-icon {
    width: 28px;
    font-size: 25px;
}

.site-menu-avatar {
    position: relative;
    padding: 8px;
}

.menu-avatar {
    width: 35px;
}
.register-btn
{
    background-color: #e8505b !important;
    color: #fff !important;
}
.login-btn
{
    color:white !important;
}
.login-btn:hover, .register-btn:hover {
    background-color: #4D96FF !important;
    transition: 0.3s;
}

/* dropdown */
.dropdown-sub{
    display: none;
}

.dropdown-sub-list {
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: -134px;
    z-index: 1100;
    background-color: var(--white-color);
    padding: 5px 0px;
    margin-top: 2px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}

.dropdown-sub-list-item {
    padding: 5px 10px;
}

.wrap-top-menu-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-head-register {
    position: relative;
    background-color: var(--white-color);
}

/* modal */
.modal {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    animation: fadeIn linear 0.2s;
    z-index: 2000 !important;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --grow-from:0.7;
    --grow-to:1;
    background-color: var(--white-color);
    margin: auto;
    z-index: 1;
    border-radius: 8px;
    animation: flydown ease .5s;
}

/* authen modal */

.auth-form__container {
    padding: 34px 48px 40px;
    width: 532px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    margin-bottom: 32px;
}

.auth-form__heading {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    cursor: default;
}

.sign-options {
    margin-bottom: 17px;
}

.sign-option-list {
    display: flex;
    justify-content: space-between;
}

.option-item {
    color: var(--white-color);
    margin-right: 13px;
    padding: 5px 24px;
    flex: 1;
    border: none;
    border-radius: 4px;
}

.sign-option-list:last-child {
    margin: 0;
}

.label-or {
    color: #898989;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 0px 12px;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.auth-form__input:focus {
    border: 1px solid var(--black-color);
}

.form-group {
    margin: 15px 0px 20px 0px !important;
}

.btn-login{
    padding: 12px !important;
    line-height: 1px !important;
    background: linear-gradient(to right, #5095FF, #8F73F0);
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 26px;
    width: 100%;
}

.forgot-link {
    font-weight: 370;
    color: #4D96FF !important;
}

.term-of-use {
    font-size: 13px;
    text-align: center;
}

.term-of-use a{
    color: #4D96FF !important;
}

.top-head {
    padding: 70px 0px;
    min-height: calc(100vh-80px);
    z-index: 1;
}

/* Begin content */
.top-head::before {
    position: absolute;
    content: '';
    background: url(./img/head-right-bg.png);
    width: 35vw;
    height: 35vw;
    right: 0;
    top: 0;
    z-index: -1;
}

.wrap-head-content {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: calc(100%/3);
    padding: 0 15px;
    flex: 1;
    z-index: 1;
}

.wrap-head-content::before {
    position: absolute;
    content: "";
    background: url(./img/head-left-bg.png) center center/contain no-repeat;
    background-size: 846px 678px;
    width: 45vw;
    height: 35vw;
    left: 0;
    top: 25%;
    z-index: 0;
}

.wrap-head-content-text {
    position: relative;
    background-color: var(--white-color);
    padding: 25px 35px;
}

.content-heading {
    font-size: 50px;
}

.content-text {
    font-size: 25px;
}

.main-content {
    display: flex;
    justify-content: space-around;
}

#form {
    padding: 0 15px;
}

.sub-notify {
    position: absolute;
    display: none;
    top: 90%;
    right: 5%;
    width: 380px;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
}

.sub-notify p {
    margin: 0;
    padding: 5px 10px;
    width: 100%;
}

.view-all-notify {
    display: flex;
    justify-content: center;
}

.sub-user {
    position: absolute;
    display: none;
    width: 220px;
    top: 90%;
    right: 1%;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.user-option{
    padding: 5px 0px;
    margin: 2px 0px;
}

.user-option-item {
    padding: 5px 20px;
    cursor: pointer;
}

.user-option-item:hover, .user-option-item a:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}
:root {
    --black-color: #000;
    --white-color: #fff;
}

.sperate {
    border-top: 1px solid #d4d4d4;
    margin: 5px 0px;
}

hr {
    margin: 0 !important;
}

.stick {
    background-color: var(--white-color);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);;
}

.btn-stick {
    color: #2C31CF !important;
}

.justify-sp-bw {
    justify-content: space-between;
}

.row {
    display: flex;
}

.form-control {
    padding: 12px 15px;
    height: 35px !important;
    color: white !important;
}

ul {
    list-style: none;
}

.block {
    display: block !important;
}

.btn-micro {
    background-color: #4281DC;
}

.btn-face {
    background-color: #3B5998;
}

.btn-google{
    background-color: #D82424;
}

@keyframes flydown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes flyup {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50%);
        opacity: 0;
    }
}
/* end css header */
.container-img
{
    width: 100%;
    height: 850px;
}
.img-left
{
    float: left;
    padding-top: 120px;
    width: 650px;
    height: 620px;
    padding-left: 30px;
}
.img-right
{
    float:right;
    margin-top: 0px;
    width: 27%;
}
.container-form
{
    background-color: rgb(255, 255, 255);
    float: right;
    width: 360px;
    min-height: 530px;
    max-height: 700px;
    position: relative;
    top: -200px;
    right: 120px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.1), 0px 2px 3px 3px rgba(0,0,0,0.1);
}
.form-login
{
    width: 100%;
    margin-top: -20px;
}
.container-wrap
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35px;
}
.form-fix
{
    outline-style: none;
    /* width: 345px; */
    width: 95.5%;
    height: 43px;
    padding-left: 10px;
    /* margin: 0; */
    margin-top: 15px;
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 14px;
}
.form-fix:focus
{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.container-wrap h4
{
    font-size: 20px;
    color:  rgb(30, 38, 109);
    font-weight: 700;
}
.check-box-form
{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.check-box-form a
{
    text-decoration: none;
    color: rgb(76, 76, 240);
}
.bt-register
{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: rgb(58, 58, 245);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
}
.use-acc
{
    width: 100%;
    text-align: center;
    color: rgb(30, 38, 109);
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}
.container-contact-flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.bt-fb
{
    font-size: 35px;
    margin-right: 20px;
    color: #36589d;
    border: none;
    background-color: white;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 1px solid #36589d;
    cursor: pointer;
}
.bt-fb:hover
{
    color: white;
    background-color: #36589d;;
}
.bt-wd
{
    font-size: 35px;
    margin-right: 20px;
    color: #00a4f5;
    border: none;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #00a4f5;
    cursor: pointer;
}
.bt-wd:hover
{
    color: white;
    background-color: #00a4f5;
}
.bt-gg
{
    font-size: 35px;
    color: #ea230f;
    border: none;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ea230f;
    cursor: pointer;

}
.bt-gg:hover
{
    color: white;
    background-color: #ea230f;
}
button:focus
{
    outline: none;
}
.content-code-step
{
    font-size: 42px;
    width: 100%;
    line-height: 1.26;
    margin-top: 0px;
    margin-bottom: 80px;
    color:rgb(30, 38, 109);
    font-weight: 700;
}
.scale-img
{
    transition: all 0.5s;
}
/* .scale-img:hover
{
    transform: scale(1.25);
} */
.scale-imgs
{
    transform: scale(1);
}
.code-step
{
    text-align: center;
    /* height: 600px; */
}
.label-step
{
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    background: linear-gradient(90deg,#2c31cf 0%,#b44fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
}
    /* .code-step a:hover .code-step-img
    {
        transform: scale(1.1);
    } */

.code-step-img
{
    display: inline-block;
    position: relative;
    margin: 0 auto 40px;
    max-width: calc(100% - 60px);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(29,31,89,.1);
    text-align: center;
    width: 100%;
    transition: all 300ms;
}

.code-step-title
{
    color: #1e266d;
    font-size: 24px;
    font-weight: 700;    
}
.code-step-title:hover
{
    color: rgb(44, 49, 207);
}
.code-step-content
{
    margin: 0 0 50px;
    font-size: 16px;
    font-weight: 500;
    color: #172b4d;
}


label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic;
}
div.error { display: none; }


.wrap-list-why-choose-us-text > ul > li
{
    list-style: none;
    cursor: pointer;
}
.content-slide-login
{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    color: #455880;
    font-weight: 600;
    margin: 0;
    padding: 15px 18px;
    border-radius: 10px;
    transition: all 300ms;
    text-align: left;
}
.content-slide-login > img
{
    padding-right: 20px;
}
.color-slide-1
{
    color: #f4ebeb;
    
}
.color-slide-2
{
    color: #f0f8ec;
}
.color-slide-3
{
    color: #f8f4eb;
}
.color-slide-4
{
    color: #ededf8;
}
.color-slide-5
{
    color: #f1e5ed;
}
/* pop */
.pop-block
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:rgba(0, 0, 0, .84);
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 9999;
    color: black;
    justify-content: center;
    
}
.pop-block a
{
    text-decoration: none;
}
.pop-block h3
{
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.pop-block h4
{
    color: white;
    font-size: 22px;
    font-weight: 700;
}
.pop-exit
{
    display: block;
    width: 102px;
    height: 42px;
    border: 1px chartreuse solid;
    color: chartreuse;
    border-radius: 22px;
    padding: 10px;
}
.pop-exit:hover
{
    background-color: blue;
    color: white;
    border: 1px blue solid;
}
/* end pop */
/* count */
#our-statistic {
    background: url("../images/bg-statistic.png") center center/cover fixed no-repeat;
    padding: 60px 0;
    color: white;

}
.wrap-statistic-content {
    margin-left: 18%;
}
.statistic-number
{
    font-weight: 700;
    font-size: 48px;
    position: relative;
    padding-bottom: 6px;
}
.statistic-title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    margin: 20px 0 50px;
}
.statistic-number::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 50px;
    border-radius: 4px;
    background-color: #fff;
}
.btn.btn-important {
    background: #e8505b;
    color: white !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.27;
    padding: 18px 25px;
    border-radius: 4px;
}
/* end count */

.title-section{
    text-align: center;
    margin-bottom: 45px;
    font-size: 42px;
    font-weight: 700;
    color:rgb(30, 38, 109);
}
#why-choose-us{
    padding-top: 40px;
    padding-bottom: 80px;
}
.wrap-list-why-choose-us-text ul
{
    margin-top: 50px;
}
/* footer */
.main-footer
{
    padding-top: 35px;
    margin-bottom: 40px;
}
.content-footer
{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(59, 60, 84);
}
.contact-codelearn
{
    margin-top: 15px;
}
.contact-codelearn > a
{
    text-decoration: none;
}
.contact-codelearn > a > span > i
{
    font-size: 30px;
}
.fb
{
    color: blue !important;
    padding-right: 10px;
}
.yt
{
    color: red !important;
    padding-right: 10px;
}
.tw
{
    color:#5095FF !important;
    padding-right: 10px;
}
.ins
{
    color: purple  !important;
}

.copyright
{
    background-color: black;
    color: white;
    text-align: center;
    height: 35px;
}
.support-cl h4
{
    color: blue;
    font-size: 18px;
}
.support-cl a
{
    color: rgb(59, 60, 84) !important;
    text-decoration: none;
}
.support-cl a:hover
{
    color: blue !important;
}