.xoay
{
    border-radius: 5px;
    position: absolute;
    width: 255px;
    height: 100%;
    margin-top: -440px;
    visibility: hidden;
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
    transition: transform .6s linear;
    width: 255px  !important;
}
.xoay > div
{
    width: 255px;
    top:-15px;
    display: block;
}
.front
{
    transform: perspective(600px) rotateY(0deg);
    transition: transform .6s linear;
}
.xoay img
{
    height: 100%;
    width: 100%;
}
.course-item:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}
.course-item:hover > .xoay
{
    transform: perspective(600px) rotateY(0deg);
    visibility: visible;
}
.xoay-h3
{
    font-size: 16px !important;
    font-weight: 500 !important; 
}
.xoay-img
{
    width: 20px !important;
    height: 20px !important;
}
.xoay-user-name
{
    font-size: 11px !important;
}
.xoay-star 
{
    font-size: 7px !important;
}
.xoay-p > li p
{
    font-size: 13px;
}